---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  <p style="color:#666; font-size:0.9rem;">{{ page.date | date: "%Y-%m-%d" }}</p>
  {{ content }}
</article>

<div style="margin-top: 3rem; border-top: 1px solid #ddd; padding-top: 2rem;">
  <script src="https://giscus.app/client.js"
          data-repo="torbjornlager/book-project-home"
          data-repo-id="R_kgDORQv3sg"
          data-category="Blog Comments"
          data-category-id="DIC_kwDORQv3ss4C3Kf0"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</div>